

.par{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    text-align: center;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}
.par2{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.flecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}